#Ignore all object files
*.o

#Ignore all .mod files
*.mod

#Ignore all .smod files
*.smod

#Ignore all .so files
*.so

#Ignore all executables
*.exe

#Ignore all pdfs
*.pdf

#Ignore vim files:
*~
*.swp
*.swo

#Ignore __pycache__ directories
**/__pycache__/

#Ignore .vscode directory
**/.vscode/

#Ignore build directory
**/build
