name: CI

on: [push, pull_request]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                toolchain:
                    # - {compiler: gcc, version: 15}
                    - {compiler: intel, version: '2024.1'}
                    - {compiler: intel, version: '2025.2'}
                    - {compiler: intel, version: '2025.3'}
                    - {compiler: intel-classic, version: '2021.10'}
                include:
                    - os: macos-13
                      toolchain: {compiler: intel-classic, version: '2021.10'}
                    - os: macos-14
                      toolchain: {compiler: intel-classic, version: '2021.10'}


        steps:
            - name: Checkout code
              uses: actions/checkout@v1

            - uses: fortran-lang/setup-fortran@main
              id: setup-fortran
              with:
                compiler: ${{ matrix.toolchain.compiler }}
                version: ${{ matrix.toolchain.version }}

            - name: Setup Fortran Package Manager
              uses: fortran-lang/setup-fpm@v7
              with:
                github-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Install GCC-12 on macos
              if: contains(matrix.os, 'macos-14')
              run: |
                brew install gcc@12
                install_name_tool -add_rpath /opt/homebrew/Cellar/gcc@12/12.4.0/lib/gcc/12 /Users/runner/work/_temp/fpm
                sudo mkdir -p /usr/local/opt
                sudo ln -s /opt/homebrew/Cellar/gcc@12 /usr/local/opt/gcc@12
                which brew
                brew --prefix
                brew config



            - run: |
                fpm test