name: CI

on: [push, pull_request]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest,macos-latest,windows-latest]
                toolchain:
                    - {compiler: gcc, version: 14}
                    - {compiler: gcc, version: 15}
                    - {compiler: intel, version: 2025.3}
                exclude:
                    - os: macos-latest
                      toolchain: {compiler: intel, version: '2025.3'}

        steps:
            - name: Checkout code
              uses: actions/checkout@v1

            - uses: fortran-lang/setup-fortran@main
              id: setup-fortran
              with:
                compiler: ${{ matrix.toolchain.compiler }}
                version: ${{ matrix.toolchain.version }}

            - name: Setup Fortran Package Manager
              uses: fortran-lang/setup-fpm@v7
              with:
                github-token: ${{ secrets.GITHUB_TOKEN }}

            - run: |
                fpm test